
body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 2000px;  /* prevents super-wide layouts */
  margin: 0 auto;
}

.sc-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.sc-player {
  flex: 1 1 calc(25% - 16px); /* 4 per row */
  min-width: 450px;            /* allows wider embeds */
  max-width: 450px;            /* increases maximum width */
  height: 450px;               /* visual player height */
  width: 450px;               /* visual player height */
  border: 2px solid #000000;
  border-radius: 12px;
  box-sizing: border-box;
}

@media (max-width: 901px) {
  .container {
    width: 100%;
    max-width: 900px;  /* prevents super-wide layouts */
    margin: 0 auto;
  }

  .sc-player {
    flex: 0 0 calc(25% - 16px);    
    min-width: 250px;            /* allows wider embeds */
    max-width: 325px;            /* increases maximum width */
    height: 250px;               /* visual player height */
    width: 325px;               /* visual player height */
  }
}

@media (max-width: 600px) {
  .sc-player {
    flex: 0 0 100%;    
    height: 380px;
  }
}

/* Arrow buttons */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.7);
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  z-index: 10;
  border-radius: 6px;
  user-select: none;
  transition: opacity 0.2s;
}

#prev { left: -70px; }
#next { right: -70px; }

/* Page numbers */
.page-numbers {
  margin-top: 16px;
  font-size: 1.5rem;
}

.page-numbers span {
  margin: 0 5px;
  cursor: pointer;
}

.page-numbers .current {
  font-weight: bold;
  text-decoration: underline;
}

/*Shuffle Button*/
#shuffleBtn {
  background-color: #ca0202;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

#shuffleBtn:hover {
  opacity: 0.8;
}